.react-datepicker__input-container input {
    width: 100% !important;
    padding: 15px !important;
    font-size: large;
    text-align: center !important;
    margin-top: 18px !important;
    border-radius: 5px !important;
    border-color: #5e90c1 !important;
 }